*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/
project/project/
project/target/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea


.git/
.github/
src/test/*
src/multi-jvm/*
.env
.dockerignore
.gitignore
docker-compose.yml
Dockerfile
local.yaml
rbac.yaml
readme.md
